
#LanguageSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.rs-stack {
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-stack:hover {
  color: yellow;
  cursor: pointer;
}

#google_translate_element {
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
}

#drop-down-translate {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  position: fixed;
  bottom: 90px; /* Adjust this value according to your design */
  margin-bottom: -20px; /* Adjust this value to control how much it sticks out */
}

.translate-wrapper {
  position: relative;
}

#notranslate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rs-picker-select-menu-items {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.rs-picker-select-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.rs-picker-select-menu-item:hover {
  color: yellow;
}

.rs-picker-toggle-textbox {
  display: none;
}

.rs-anim-fade {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > .skiptranslate {
  display: none !important;
}

body {
  top: 0px !important; 
}
