.LandingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to fill the viewport */
  background-image: url('https://tigersugar.co/assets/images/container01.jpg?v=ef33cbf0');
  background-size: cover;
  background-position: center;
}

.nav-link {
  font-size: 32px;
}

/* Style for the list items and links */
.LandingPage ul {
  margin-top: 80px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.LandingPage li {
  margin: 40px 0;
}

/* Styling the links as large buttons */
.LandingPage li a {
  background-color: #333;
  color: #EED484;
  border: solid 3px #EED484;
  display: inline-flex;
  width: auto;
  height: 3.75rem;
  line-height: 2.75rem;
  padding: 0 1.375rem;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.125rem;
  padding-left: calc(0.125rem + 1.375rem);
  font-size: 0.75em;
  font-weight: 400;
  border-radius: 1rem;
  flex-direction: row-reverse;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.LandingPage li a:hover {
  background-color: transparent;
}
