.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Set the height to fill the viewport */
  background-color: 		#0e1111; /* Set the background color to black */
}

.login {
  width: 300px;
  margin-top: 120px;
  padding: 20px;
  background-color: rgb(37, 35, 35);
  color: rgb(189, 189, 103);
  border-radius: 5px;
  border-color: #EED484;
  border-style: solid;
}

.login h4 {
  text-align: center;
  margin-bottom: 3px
}

.text_area {
  margin-bottom: 15px;
}

.text_input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(182, 182, 80);
  border-radius: 3px;
  background-color: rgb(29, 27, 27);
  color: rgb(186, 186, 85);
}

.text_input::placeholder {
  color: rgb(172, 172, 77);
}

.text_input:focus {
  outline: none;
  border-color: rgb(100, 100, 69);
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(119, 119, 75);
  border: none;
  border-radius: 3px;
  color: rgb(30, 27, 27);
  cursor: pointer;
}

.btn:hover {
  background-color: #ffd700;
}
