button {
  margin-right: 10px; /* Adjust the value to your preference */
  /* ... (existing button styles) */
}

.Manager {
  margin-top: 60px;
  text-align: center;
  background-color: black;
}

.Manager h1 {
  color: #fceb86;
}

.main-page {
  margin-bottom: 100px;
}

.grid-bigbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three drinks per row */
  gap: 15px;
  justify-items: center;
}

.grid-box {
  width: 90%;
  height: 250px;
  border: 2px solid #363636;
  padding: 15px;
  border-radius: 8px;
  background-color: #fceb86;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-box p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #575757;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1d1d1d;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #e7e7e7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  overflow-y: auto;
}

.popup-content p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.popup-content button {
  margin-top: 15px;
}
