.Order {
  margin-top: 60px;
  display: flex;
  align-items: stretch;
  text-align: center;
  background-color: #1d1d1d;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  width: 80%;
  padding: 20px;
  margin-bottom: 120px;
}

h1 {
  color: #ffe476;
}

h2 {
  color: #1d1d1d;
}

h3 {
  color: #363636;
}

.search-bar input {
  width: 300px;
  height: 40px;
  font-size: 24px;
}

.grid-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three drinks per row */
  gap: 15px;
  justify-items: center;
}

.grid-customer {
  width: 90%;
  height: 250px;
  border: 2px solid #363636;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffe476;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

.left-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.right-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-cell-yellow {
  width: 90%;
  height: 250px;
  border: 2px solid #363636;
  padding: 30px;
  border-radius: 8px;
  background-color: #ffe476;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color:rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-cell-yellow p {
  font-size: 24px;
}


.grid-cell-red {
  width: 90%;
  height: 250px;
  border: 2px solid #363636;
  padding: 30px;
  border-radius: 8px;
  background-color: rgb(245, 88, 88);
  color:rgba(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-cell-red p {
  font-size: 24px;
}

.grid-customer p {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.grid-cell p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #575757;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-not-visible {
  display: none;
}

button:hover {
  background-color: #1d1d1d;
}

.side-menu {
  width: 20%;
  background-color: #2c2c2c;
  padding: 5px;
}

.side-menu h2 {
  color: #ffe476;
}

.side-menu h3 {
  color: #eeeeee;
}

.side-menu .checkoutButton Button {
  font-size: 150% !important;
}

.current-order {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
}

.current-order-item {
  background-color: #363636;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.current-order-item p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.current-order-item .removeButton button {
  background-color: #df7a7a;
}

.orderPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderPopup-content {
  background: #e7e7e7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  max-height: 70%;
  overflow-y: auto;
  margin-top: -60px;
}

.orderPopup-content p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.orderPopup-content button {
  margin-top: 15px;
}

.orderPopup-content label {
  margin: 0; /* Remove default margin to ensure the label is properly aligned */
  font-size: 16px;
  color: #333;
}

.list-container{
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
 
.chip {
  padding: 0.3rem 1rem;
  background-color: #f5f5f5;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 0.2rem;
}

.chip:hover {
  background-color: darkgrey;
  color: white;
}
.chip-list {
  display: flex;
  flex-wrap: wrap;
}
 
.chip-label {
  font-size: 0.7rem;
  color:#000
}